<div class="course-card"
     *ngIf="course"
     [ngClass]="setCardClass()"
>
  <div class="course-title" [ngStyle]="cardStyles()">
    # {{index + 1 }} / {{ count }} - {{ course.description }}
  </div>

  <!-- select allow to define what we want to project-->

  <ng-content select="course-image" *ngIf="course.iconUrl; else noImg"></ng-content>
  <ng-template #noImg>
    <ng-container *ngTemplateOutlet="noImgTempl; context: { description: course.description}" ></ng-container>

  </ng-template>

  <!--
  <ng-template #blankImage>
    <p class="warn"> {{ course.description }} has No image available</p>
    <img src="./assets/images/empty-image.png" />
  </ng-template>
  -->

  <!--
  <ng-content select="h5"></ng-content>
  -->
  <ng-content select=".course-description"></ng-content>
  <!-- all that remains -->
  <ng-content ></ng-content>

  <!--
  @else if(course.iconUrl)  {
    <img width="300" alt="Angular Logo"
         [src]="course.iconUrl">
  } @else {
    <h2>No image available...</h2>
  }
  -->

  <!--
  moving description ...
  <div class="course-description">
     {{ course.longDescription }}
  </div>
  -->
  <!-- new switch case -->
  <div class="course-category">
    @switch (course.category) {
      @case ('BEGINNER') {
        <div class="category">Beginner</div>
      }
      @case ('INTERMEDIATE') {
        <div class="category">Intermediate</div>
      }
      @case ('ADVANCED') {
        <div class="category">Advanced</div>
      }
      @default {
        <div class="category">Unknown</div>
      }
    }
  </div>
  <!-- we want to emit event -->
  <button (click)="onCourseViewed()">
    View Course
  </button>
</div>
