<div class="top-menu">
  <img class="logo"
       src="./assets/images/main-page-logo-small-hat.png">
</div>
<div class="demo">
  <!-- Mon Mar 02 2020 00:00:00 GMT+0100 (heure normale d’Europe centrale) -->
  <div>{{startDate}}</div>
  <!-- Mar 2, 2020 -->
  <div>{{startDate | date }}</div>
  <!-- Mar/02/2020 -->
  <div>{{startDate | date: 'MMM/dd/yyyy' }}</div>
  <div>{{ title | uppercase }}</div>
  <div>{{ title | lowercase }}</div>
  <div>{{ title | titlecase }}</div>
  <div>{{ price | number: '3.0-2' }}</div>
  <div>{{ roundPrice | number: '0.0-2' }}</div>
  <div>{{ price | currency: 'EUR' }}</div>
  <div>{{ price | currency: 'USD' }}</div>
  <div>{{ roundPrice | currency: 'EUR' }}</div>
  <div>{{ roundPrice | currency: 'GBP' }}</div>
  <div>{{ vatRate | percent }}</div>

  <div *ngFor="let pair of course! | keyvalue">
    key: {{ pair.key}} - val {{ pair.value }}
  </div>


</div>
<div class="courses">

  <!-- step 1: repetitive and with many data passed -->
  <!--
  <course-card
    [title]="coreCourse.description"
    [iconUrl] = "coreCourse.iconUrl"
  ></course-card>
  <course-card
    [title]="rxjsCourse.description"
    [iconUrl] = "rxjsCourse.iconUrl"
  ></course-card>
  <course-card
    [title]="ngRxCourse.description"
    [iconUrl] = "ngRxCourse.iconUrl"
  ></course-card>
  -->

  <!-- step 2: passing object & retrieving emitted object from child component with custom event-->
  <!--
  <course-card
    (courseSelected)="onCourseSelected($event)"
    [course]="coreCourse"
  ></course-card>
  <course-card
    (click)="onCardClicked()"
    [course]="rxjsCourse"
  ></course-card>
  <course-card
    (click)="onCardClicked()"
    [course]="ngRxCourse"
  ></course-card>
  -->

  <!--
   step 3: using loops
    //track trackCourse;
    //track index;
    // let first = $first;

  -->
  @for (
      course of courses | slice: 2:5;
      track course?.id;
      let index = $index;
      let count = $count;
      let last = $last;
      let even = $even;
      let odd = $odd) {
    <course-card
      (courseSelected)="onCourseSelected($event)"
      [index]="index"
      [count]="count"
      [class.is-first]="$first"
      [class.is-last]="last"
      [class.is-even]="even"
      [class.is-odd]="odd"
      [course]="course" />
  } @empty {
    <h3>No courses where found empty ... </h3>
  }

  <hr />
  <h3>Old way</h3>
  <!-- step 4: using old *ngFor loops -->
    <course-card
      *ngFor="
        let course of courses;
        index as index;
         count as count;
         first as first;
          last as last;
          even as even;
          odd as odd"
      (courseSelected)="onCourseSelected($event)"
      [index]="index"
      [count]="count"
      [class.is-first]="first"
      [class.is-last]="last"
      [class.is-even]="even"
      [class.is-odd]="odd"
      [course]="course" />
</div>
<p>&nbsp;</p>

{{ courses | json }}
