<div class="course-card"
     *ngIf="course"
     [ngClass]="setCardClass()"
>
  <div class="course-title" [ngStyle]="cardStyles()">
    # {{index + 1 }} / {{ count }} - {{ course.description }}
  </div>

  <!-- select allow to define what we want to project-->
  <ng-content select=".course-description"></ng-content>
  <!-- all that remains -->
  <ng-content ></ng-content>

  <div class="course-category">
    @switch (course.category) {
      @case ('BEGINNER') {
        <div class="category">Beginner</div>
      }
      @case ('INTERMEDIATE') {
        <div class="category">Intermediate</div>
      }
      @case ('ADVANCED') {
        <div class="category">Advanced</div>
      }
      @default {
        <div class="category">Unknown</div>
      }
    }
  </div>
  <!-- we want to emit event -->
  <button (click)="onCourseViewed()">
    View Course
  </button>
</div>
